<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Size</key>
		<integer>29</integer>
		<key>Type</key>
		<integer>3</integer>
		<key>FileName</key>
		<string>29pt</string>
		<key>Directory</key>
		<string>Icon_iOS</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>40</integer>
		<key>Type</key>
		<integer>3</integer>
		<key>FileName</key>
		<string>40pt</string>
		<key>Directory</key>
		<string>Icon_iOS</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>57</integer>
		<key>Type</key>
		<integer>2</integer>
		<key>FileName</key>
		<string>57pt</string>
		<key>Directory</key>
		<string>Icon_iOS</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>60</integer>
		<key>Type</key>
		<integer>3</integer>
		<key>FileName</key>
		<string>60pt</string>
		<key>Directory</key>
		<string>Icon_iOS</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>50</integer>
		<key>Type</key>
		<integer>2</integer>
		<key>FileName</key>
		<string>50pt</string>
		<key>Directory</key>
		<string>Icon_iOS</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>72</integer>
		<key>Type</key>
		<integer>2</integer>
		<key>FileName</key>
		<string>72pt</string>
		<key>Directory</key>
		<string>Icon_iOS</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>76</integer>
		<key>Type</key>
		<integer>2</integer>
		<key>FileName</key>
		<string>76pt</string>
		<key>Directory</key>
		<string>Icon_iOS</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>120</integer>
		<key>Type</key>
		<integer>1</integer>
		<key>FileName</key>
		<string>120pt</string>
		<key>Directory</key>
		<string>Icon_iOS</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>16</integer>
		<key>Type</key>
		<integer>2</integer>
		<key>FileName</key>
		<string>16pt</string>
		<key>Directory</key>
		<string>Icon_Mac</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>32</integer>
		<key>Type</key>
		<integer>2</integer>
		<key>FileName</key>
		<string>32pt</string>
		<key>Directory</key>
		<string>Icon_Mac</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>128</integer>
		<key>Type</key>
		<integer>2</integer>
		<key>FileName</key>
		<string>128pt</string>
		<key>Directory</key>
		<string>Icon_Mac</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>256</integer>
		<key>Type</key>
		<integer>2</integer>
		<key>FileName</key>
		<string>256pt</string>
		<key>Directory</key>
		<string>Icon_Mac</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>512</integer>
		<key>Type</key>
		<integer>2</integer>
		<key>FileName</key>
		<string>512pt</string>
		<key>Directory</key>
		<string>Icon_Mac</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>1024</integer>
		<key>Type</key>
		<integer>1</integer>
		<key>FileName</key>
		<string>1024px</string>
		<key>Directory</key>
		<string>Icon_Android</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>512</integer>
		<key>Type</key>
		<integer>1</integer>
		<key>FileName</key>
		<string>512px</string>
		<key>Directory</key>
		<string>Icon_Android</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>144</integer>
		<key>Type</key>
		<integer>1</integer>
		<key>FileName</key>
		<string>144px</string>
		<key>Directory</key>
		<string>Icon_Android</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>96</integer>
		<key>Type</key>
		<integer>1</integer>
		<key>FileName</key>
		<string>96px</string>
		<key>Directory</key>
		<string>Icon_Android</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>72</integer>
		<key>Type</key>
		<integer>1</integer>
		<key>FileName</key>
		<string>72px</string>
		<key>Directory</key>
		<string>Icon_Android</string>
	</dict>
	<dict>
		<key>Size</key>
		<integer>48</integer>
		<key>Type</key>
		<integer>1</integer>
		<key>FileName</key>
		<string>48px</string>
		<key>Directory</key>
		<string>Icon_Android</string>
	</dict>
</array>
</plist>
